{% extends 'base.html.twig' %}

{% block title %}Profil de {{ member.email }}{% endblock %}

{% block body %}
{% for type, messages in app.flashes %}
    <div class="alert alert-{{ type }}">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endfor %}

<h1>Profil de {{ member.email }}</h1>

<h2>Liste des Showcases de {{ member.email }}</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Description</th>
            <th scope="col">Publiée</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for showcase in showcases %}
            <tr>
                <td>{{ showcase.id }}</td>
                <td>{{ showcase.description }}</td>
                <td>{{ showcase.publiee ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_showcase_show', { 'id': showcase.id }) }}" class="btn btn-primary">Voir Détails</a>
                    <a href="{{ path('app_showcase_edit', { 'id': showcase.id }) }}" class="btn btn-warning">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune galerie trouvée pour ce membre.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    <a href="{{ path('app_showcase_new', { 'memberId': member.id }) }}" class="btn btn-success">Créer une nouvelle Showcase</a>
    <a href="{{ path('app_member_index') }}" class="btn btn-secondary">Retour à la liste des membres</a>
    <a href="{{ path('watchBox_show', {'id': member.watchBox.id}) }}" class="btn btn-info">Ma WatchBox</a>

{% endblock %}
