{% extends 'base.html.twig' %}

{% block title %}Détails de la WatchBox{% endblock %}

{% block main %}
    <h1 class="mb-4">Détails de la WatchBox : {{ watchBox.name }}</h1>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Marque</th>
                <th scope="col">Modèle</th>
                <th scope="col">Détails</th>
            </tr>
        </thead>
        <tbody>
            {% for watch in watches %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        {% if watch.image is not empty %}
                            <img src="{{ asset('uploads/images/' ~ watch.image) }}" alt="Image de {{ watch.brand }} - {{ watch.model }}" class="img-thumbnail" style="height: 100px; width: auto;">
                        {% else %}
                            <img src="{{ asset('uploads/images/default.png') }}" alt="Image par défaut" class="img-thumbnail" style="height: 100px; width: auto;">
                        {% endif %}
                    </td>
                    <td>{{ watch.brand }}</td>
                    <td>{{ watch.model }}</td>
                    <td>
                        <a href="{{ path('app_showcase_watch_show', { 'id': watch.id }) }}" class="btn btn-primary">Voir Détails</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune montre trouvée pour cette WatchBox.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if watchBox.member %}
        <a href="{{ path('app_member_show', { 'id': watchBox.member.id }) }}"  class="btn btn-secondary">Retour au membre</a>
    {% else %}
        <span>Aucun membre associé</span>
    {% endif %}

    <a href="{{ path('app_watch_new',{'id': watchBox.id}) }}" class="btn btn-success">Créer une nouvelle montre</a>


{% endblock %}
