{% extends 'base.html.twig' %}

{% block title %}Showcase index{% endblock %}

{% block body %}
    <h1>Showcase index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Publiée</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for showcase in showcases %}
            <tr>
                <td>{{ showcase.id }}</td>
                <td>{{ showcase.description }}</td>
                <td>{{ showcase.publiee ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_showcase_show', {'id': showcase.id}) }}">show</a>
                    <a href="{{ path('app_showcase_edit', {'id': showcase.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune gallerie trouvée pour ce membre.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<a href="{{ path('app_showcase_new', { 'memberId': member.id }) }}" class="btn btn-success mt-4">Créer</a>
{% endblock %}
