{% extends 'base.html.twig' %}

{% block title %}Showcase{% endblock %}

{% block main %}
    <h2>Détails de la galerie : {{ galerie.name }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ galerie.name }}</td>
                <td>{{ galerie.description }}</td>
            </tr>
        </tbody>
    </table>
    <h3>Montres associées</h3>
    <ul>
        {% for watch in galerie.watches %}
            <li>{{ watch.brand }} - {{ watch.model }}</li>
        {% else %}
            <li>Aucune montre associée à cette galerie.</li>
        {% endfor %}
    </ul>
{% endblock %}
