{% extends 'base.html.twig' %}

{% block title %}Détails de la Montre : {{ watch.brand }} - {{ watch.model }}{% endblock %}

{% block body %}
    <h1 class="mb-4">Détails de la Montre : {{ watch.brand }} - {{ watch.model }}</h1>
    <div class="d-flex justify-content-center">
        <div style="max-width: 500px;">
            <img src="{{ vich_uploader_asset(watch, 'imageFile') ?: asset('uploads/images/default.png') }}" 
                             alt="Image de {{ watch.brand }} - {{ watch.model }}" 
                             class="img-thumbnail" 
                             style="height: 400px; width: auto;">

            <div style="padding: 20px;">
                <h5>{{ watch.brand }} - {{ watch.model }}</h5>
                <p>Prix : {{ watch.price }} €</p>
                <p>{{ watch.description }}</p>
                
                <!-- Show link to return to the watchBox -->
                {% if watchBox is defined %}
                    <a href="{{ path('watchBox_show', { 'id': watchBox.id }) }}" class="btn btn-secondary">Retour à la WatchBox</a>
                {% endif %}

                <!-- Show link to return to the Showcase if available -->
                {% if showcase is defined %}
                    <a href="{{ path('app_showcase_show', { 'id': showcase.id }) }}" class="btn btn-secondary">Retour à la Showcase</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
