{% extends 'base.html.twig' %}

{% block title %}Watch index{% endblock %}

{% block body %}
    <h1>Watch index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for watch in watches %}
            <tr>
                <td>{{ watch.id }}</td>
                <td>{{ watch.brand }}</td>
                <td>{{ watch.model }}</td>
                <td>{{ watch.price }}</td>
                <td>{{ watch.description }}</td>
                <td>{{ watch.image }}</td>
                <td>
                    <a href="{{ path('app_watch_show', {'id': watch.id}) }}">show</a>
                    <a href="{{ path('app_watch_edit', {'id': watch.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_watch_new') }}">Create new</a>
{% endblock %}
