{% extends 'base.html.twig' %}

{% block title %}Watch{% endblock %}

{% block body %}
    <h1>Watch</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ watch.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ watch.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ watch.model }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ watch.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ watch.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ watch.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_watch_index') }}">back to list</a>

    <a href="{{ path('app_watch_edit', {'id': watch.id}) }}">edit</a>

    {{ include('watch/_delete_form.html.twig') }}
{% endblock %}
